<form [formGroup]="searchForm">
  <div class="form-row">
    <mat-form-field>
      <mat-label>Message</mat-label>
      <input formControlName="message" matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="DEBUG">DEBUG</mat-option>
        <mat-option value="INFO">INFO</mat-option>
        <mat-option value="WARN">WARN</mat-option>
        <mat-option value="ERROR">ERROR</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-actions-row">
    <button mat-raised-button color="success" (click)="search()">
      <mat-icon>play_circle</mat-icon>
      Stream Logs
    </button>
    <button mat-raised-button color="warn" (click)="stop()">
      <mat-icon>stop_circle</mat-icon>
      Stop Streaming
    </button>
    <button mat-raised-button color="warn" (click)="clear()">Clear</button>
  </div>
</form>
