.table-wrapper {
  padding: 1rem;
}

.log-table {
  border-collapse: collapse;
  width: 100%;

  th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
    background-color: #f3f3f3;
  }

  tr {
    &:hover {
      background-color: #f3f3f3;
    }
  }

  td, th {
    border: 1px solid #f3f3f3;
    padding: 0.5rem;
    width: max-content;
  }
}
